body {
    background-color: #666666;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	}
        
        form{
            margin: 0 auto;
        width: 370px;
        height: 300px;
        background-color: #FFCC66;
        border-radius: 10px;
        box-shadow: 0 0 30px #FFCC66;
        text-align: center;
        }

	h2 {
	  color: #990000;
	  background-color: #FC9804;
	}